/* menu sidebar */
.hover{
	width:100%;
	border-collapse: collapse;
}

.hover th{
	height: 30px;
	background: #FFFFFF;
	color:#1e6292;
}

.hover td{
	height: 30px;
	padding-top: 3px;
	vertical-align: middle;
	border-bottom: 1px solid #ffffff;
	text-align: center;
}

.hover td a {
	width: 100%;
	display: block;
}

.hover tr {
	background:#1e6292;
	color:#ffffff; 
}

/* ketika mouse lewat */

.hover tr:hover {
	background-color:#2c5876;
}

.hover tr a{
	color:#ffffff;
}

.hover a:hover {
	color:#f78b4a;
}


/*bagian footer biar lurus*/
.pkp_footer_content{
	float: left; width:70%; padding-top:10px; padding-bottom:10px}

.pkp_brand_footer{
	display: block; float: right; width:30%; height:auto; padding-top:30px; padding-bottom:10px}
